/* Add application styles & imports to this file! */
h1,
h2,
p {
  text-align: center;
}

ul {
  padding: 15px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.active {
  color: red;
}
